
body{ 
    transition: all 0.3s;
    background: linear-gradient(lightcyan, white); 
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 450%;
    font-family: Cambria;
    justify-content: center;
    color: white;
    
}

.marco {
    background-color: lightblue;
    border-style: double;
    border-radius:  7px;
    padding: 12px;
}

.botones{
    display: flex;
    justify-content: space-around;
}


.btn {
    display: inline-block;
    padding: 10px;
    font-size: 60%;
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    
}

